body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: black;
}

.container {
    width: 1000;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

div.first_textbox {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.first_textbox p {
    margin-left: 10px;
}

div.second_textbox {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.second_textbox p {
    margin-left: 10px;
}

div.question_box {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.black_background_textbox {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.black_background_textbox p {
    margin-left: 10px;
}

div.choice_one {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.choice_one p {
    margin-left: 10px;
}

.menu li {
    display: inline;
}

.menu li + li {
    margin-left: 35px;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    color: white;
    text-decoration: none;
}

div.back_to_beginning {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.back_to_beginning p {
    margin-left: 10px;
}

div.candy_choice {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.candy_choice p {
    margin-left: 10px;
}

div.place_choice {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.place_choice p {
    margin-left: 10px;
}

div.three_choices {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.three_choices p {
    margin-left: 10px;
}

div.throw_candy_choice {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.throw_candy_choice p {
    margin-left: 10px;
}

div.good_ending_a {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.good_ending_a p {
    margin-left: 10px;
}

div.good_ending_b {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.good_ending_b p {
    margin-left: 10px;
}

div.pretty_2 {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.pretty_2 p {
    margin-left: 10px;
}

div.disfigured_ending {
    padding: 10px 0 30px 0;
    background-color: gray;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.disfigured_ending p {
    margin-left: 10px;
}