body {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: rgb(216, 161, 255);
}

.container {
    width: 1888px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.output {
    display: inline-block;
    margin-left: 25px;
}

div.textboxone {
    padding: 10px 0 30px 0;
    background-color: blueviolet;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.textboxtwo {
    padding: 10px 0 30px 0;
    background-color: blueviolet;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.textboxone h4 {
    margin-left: 10px;
}

div.textboxone p {
    margin-left: 25px;
}

div.textboxtwo h4 {
    margin-left: 10px;
}

div.textboxtwo p {
    margin-left: 25px;
}