body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: rgb(216, 161, 255);
}

.container {
    width: 1890px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

div.textboxone {
    padding: 10px 0 30px 0;
    background-color: blueviolet;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.textboxtwo {
    padding: 10px 0 30px 0;
    background-color: blueviolet;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}