body {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aqua;
}

header {
    background-color: blue;
    height: 55px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}

header h1.logo {
    margin: 1;
    font-size: 1.7em;
    color: darkgreen;
    text-transform: uppercase;
    float: left;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

div.home {
    padding: 10px 0 30px 0;
    background-color: brown;
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: crimson;
}

.menu {
    float: right;
    margin-top: 20px;
}

.menu li {
    display: inline;
}

.menu li + li {
    margin-left: 35px;
}

.menu li a {
    color: black;
    text-decoration: none;
}
