body {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    background-color: rgb(216, 161, 255);
}

header {
    background-color: indigo;
    height: 55px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}

header h1.logo {
    margin: 1;
    font-size: 1.7em;
    color: black;
    text-transform: uppercase;
    float: left;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container form {
    margin: 20px;
}

.container input {
    width: 200px;
    height: 15px;
    font-size: 15px;
    margin: 2px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.output {
    display: inline-block;
}

div.home {
    padding: 20px 0 40px 0;
    background-color: rgb(216, 161, 255);
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

div.geocoder {
    padding: 10px 0 30px 0;
    background-color: rgb(216, 161, 255);
    -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
            border-radius: 6px;
}

h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}

.menu {
    float: right;
    margin-top: 20px;
}

.menu li {
    display: inline;
}

.menu li + li {
    margin-left: 35px;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.menu li a:hover {
    color: white;
    text-decoration: none;
}
